<ion-header [translucent]="true">
  <ion-toolbar style="--background: red">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true" style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --background: #ffffff;
    padding: 16px;
  ">
    <h2 style="
      display: flex;
      justify-content: center;
      color: red;
      font-weight: bold;
    ">
      Login
    </h2>

    <!-- Creamos formulario de Registro, el (ngSubmit)="save()" activa la funcion save() -->
    <form style="width: 100%" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div style="
        margin-bottom: 15px;
        --background: white;
        --padding-start: 16px;
        --padding-end: 16px;
      ">
        <!--ion-label e ion-input para Correo: -->
        <div class="icon-text-container">
          <ion-icon name="at-circle-outline" style="color: black; font-size: 24px; margin-bottom: -5px;"></ion-icon>
          <span class="label-text" style="color: black;">Correo:</span>
        </div>
        <ion-input [ngClass]="
        {
          'ionInputStyle': !isEmailRequired && !isEmailInvalid,
          'ionInputStyle-invalid': isEmailRequired || isEmailInvalid
        }" 
        placeholder="Ej. correo@gmail.com" type="email" formControlName="correo"></ion-input>
        <ion-note class="form--error-menssage">
          <span *ngIf="isEmailRequired"> El correo es Requerido *</span>
          <span *ngIf="isEmailInvalid">
            El correo electronico es invalido. *</span>
        </ion-note>
        <br />

        <!--ion-label e ion-input para Contraseña: -->
        <div>
          <ion-icon name="lock-open-outline" style="color: black; font-size: 24px; margin-bottom: -5px;"></ion-icon>
          <span class="label-text" style="color: black;">Contraseña:</span>
        </div>
        <ion-input [ngClass]="
        {
          'ionInputStyle': !isPasswordMinLengthInvalid,
          'ionInputStyle-invalid': isPasswordMinLengthInvalid
        }" 
        placeholder="Ej. Password123" type="password" formControlName="contraseña">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
        <ion-note *ngIf="isPasswordMinLengthInvalid" class="form--error-menssage">
          Debe ingresar una Contraseña de 6 caracteres o mas. *</ion-note>

        <br />

        <!-- ion-button y ion-spinner para log ear usuario -->
        <div style="display: flex; justify-content: center; margin-top: 20px">
          <ion-button type="submit" color="success" [disabled]="isFormInvalid || disabled" ngSumm>
            <!--*ngIf activara la animacion cuando spinner sea true-->
            <ion-spinner *ngIf="spinner" style="margin-right: 10px"></ion-spinner>
            Login
          </ion-button>
        </div>
      </div>
    </form>

    <div [ngClass]="'center-container'">
      <span [ngClass]="'spanRedirect'" (click)="goToRForgotPassword()"> ¿Olvidaste tu contraseña? </span>
    </div>

    <div [ngClass]="'center-container'">
      <span [ngClass]="'span'">¿No tienes cuenta?</span>
      <span [ngClass]="'spanRedirect'" (click)="goToRegister()"> Registrate ahora</span>
    </div>

  </ion-content>
</ion-content>