.tabsBackgroundColor{
    background-color: #ffffff; //color de fondo de la pantalla del ion-tab
}

.tabBarColor{
    --background: #fff;
    --color: #000000; //cambia el color de los iconos y letras del tab bar
}