<ion-header [translucent]="true">
  <ion-toolbar style="--background: red">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true" [ngClass]="'Content'"
  >
    <h2 [ngClass]="'h2'">
      Restablecer Contraseña
    </h2>

    
    <form style="width: 100%" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div [ngClass]="'divForm'">
        <!--ion-label e ion-input para Correo: -->
        <div class="icon-text-container">
          <ion-icon name="at-circle-outline" [ngClass]="'iconStyle'"></ion-icon>
          <span class="label-text" style="color: black;">Correo:</span>
        </div>
        <ion-input [ngClass]="
        {
          'ionInputStyle': !isEmailRequired && !isEmailInvalid,
          'ionInputStyle-invalid': isEmailRequired || isEmailInvalid
        }" 
        placeholder="Ej. correo@gmail.com" type="email" formControlName="correo"></ion-input>
        <ion-note class="form--error-menssage">
          <span *ngIf="isEmailRequired"> El correo es Requerido *</span>
          <span *ngIf="isEmailInvalid">
            El correo electronico es invalido. *</span>
        </ion-note>
        <br />

        <!-- ion-button y ion-spinner para log ear usuario -->
        <div [ngClass]="'divButton'">
          <ion-button type="submit" color="success" [disabled]="isFormInvalid || disabled" ngSumm>
            <!--*ngIf activara la animacion cuando spinner sea true-->
            <ion-spinner *ngIf="spinner" style="margin-right: 10px"></ion-spinner>
            Restablecer Contraseña
          </ion-button>
        </div>
      </div>
    </form>
    <div [ngClass]="'center-container'">
      <span [ngClass]="'spanRedirect'" (click)="goToLogin()"> Regresar </span>
    </div>
  </ion-content>
</ion-content>