.ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  --background: #ffffff;
  padding: 16px;
}

.h2 {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
}

.ion-icon {
  color: black;
  font-size: 24px;
  padding-right: 5px;
}

.div{
  padding: 5px;
}

.divIconLabel{
  display: flex;
  align-items: center;
}

.image-profile {
  width: 200px;
  margin: 0 auto;
}
