<ion-header [translucent]="true">
  <ion-toolbar style="--background: red">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="'ion-content'">
  <h2 [ngClass]="'h2'">
    Perfil
  </h2>

  <!-- Creamos formulario de Registro, el (ngSubmit)="save()" activa la funcion save() -->
  <form style="width: 100%" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div [ngClass]="'div'">
      <!--user.photo obtiene la photo de firebase-->
      <ion-icon name="camera-outline" *ngIf="isImageProfileInvalid" [ngClass]="'ion-icon'"></ion-icon>
      <ion-img [src]="user.imageProfile" [ngClass]="'image-profile'" (click)="onPickImage()"></ion-img>
      <ion-note class="form--error-menssage">
        <span *ngIf="isImageProfileInvalid"> Seleccione una foto de perfil*</span>
      </ion-note>
    </div>

    <!--ion-label e ion-input para Nombres: -->
    <div [ngClass]="'div'">
      <div [ngClass]="'divIconLabel'">
        <ion-icon name="person-outline" [ngClass]="'ion-icon'"></ion-icon>
        <span class="label-text" style="color: black;">Nombres:</span>
        <ion-note class="form--error-menssage">
          <span *ngIf="isNombresNull"> Los Nombres son Requeridos. *</span>
        </ion-note>
      </div>
      <ion-input [ngClass]="
      {
      'ionInputStyle': !isNombresNull,
      'ionInputStyle-invalid': isNombresNull
      }" placeholder="Ej. Jose Jose" type="text" formControlName="nombres"></ion-input>
      <!--Utilizamos el formControlName="nombres" para hacer binding del registerForm y su campo nombres['']-->
      <br />
    </div>
    <!-- FIN ion-label e ion-input para Nombres: -->

    <!--ion-label e ion-input para Apellidos: -->
    <div [ngClass]="'div'">
      <div [ngClass]="'divIconLabel'">
        <ion-icon name="person-outline" [ngClass]="'ion-icon'"></ion-icon>
        <span class="label-text" style="color: black;">Apellidos:</span>
        <ion-note class="form--error-menssage">
          <span *ngIf="isApellidosNull"> Los Apellidos son Requeridos. *</span>
        </ion-note>
      </div>
      <ion-input [ngClass]="
      {
        'ionInputStyle': !isApellidosNull,
        'ionInputStyle-invalid': isApellidosNull
      }" placeholder="Ej. Aguilar Paz" type="text" formControlName="apellidos"></ion-input>
      <br />
    </div>
    <!-- FIN ion-label e ion-input para Apellidos: -->

    <!--ion-label e ion-input para fecha de nacimiento-->
    <div [ngClass]="'div'">
      <div [ngClass]="'divIconLabel'">
        <ion-icon name="calendar-outline" [ngClass]="'ion-icon'"></ion-icon>
        <span class="label-text" style="color: black;">Fecha de nacimiento:</span>
        <ion-note class="form--error-menssage">
          <span *ngIf="isBirthDateInvalid"> La fecha es invalida, por favor seleccione una fecha. *</span>
          <span *ngIf="isBirthDateInFuture"> La Fecha de nacimiento no puede ser mayor a la fecha actual. *</span>
        </ion-note>
      </div>
      <input type="date" formControlName="birthDate" max="{{ today | date:'yyyy-MM-dd' }}" [ngClass]="
      {
        'ionInputDateStyle': !isBirthDateInvalid && !isBirthDateInFuture,
        'ionInputDateStyle-invalid': isBirthDateInvalid || isBirthDateInvalid
      }">
    </div>
    <!--FIN ion-label e ion-input para fecha de nacimiento-->

    <!--ion-label e ion-input para Correo: -->
    <div [ngClass]="'div'">
      <div [ngClass]="'divIconLabel'">
        <ion-icon name="at-circle-outline" [ngClass]="'ion-icon'"></ion-icon>
        <span class="label-text" style="color: black;">Correo:</span>
      </div>
      <ion-input [ngClass]="
      {
        'ionInputStyle': !isEmailRequired && !isEmailInvalid,
        'ionInputStyle-invalid': isEmailRequired || isEmailInvalid
      }" placeholder="Ej. correo@gmail.com" type="email" formControlName="correo" readonly="true"></ion-input>
      <br />
    </div>
    <!-- FIN ion-label e ion-input para Correo: -->

    <!--ion-label e ion-input para DNI: -->
    <div [ngClass]="'div'">
      <div [ngClass]="'divIconLabel'">
        <ion-icon name="id-card-outline" [ngClass]="'ion-icon'"></ion-icon>
        <span class="label-text" style="color: black;">DNI:</span>
        <ion-note class="form--error-menssage">
          <ion-note *ngIf="isDniMinLengthInvalid" class="form--error-menssage">
            El DNI es obligatorio y no puede ser menor de 13 digitos.
            *</ion-note>
          <ion-note *ngIf="isDniMaxLengthInvalid" class="form--error-menssage">
            El DNI no puede ser mayor de 13 digitos. *</ion-note>
          <ion-note *ngIf="isDniHasLettersOrSpaces" class="form--error-menssage">
            El DNI no puede contener letras o espacios. *</ion-note>
        </ion-note>
      </div>
      <ion-input [ngClass]="
      {
        'ionInputStyle': !isDniMinLengthInvalid && !isDniMaxLengthInvalid && !isDniHasLettersOrSpaces,
        'ionInputStyle-invalid': isDniMinLengthInvalid || isDniMaxLengthInvalid || isDniHasLettersOrSpaces
      }" placeholder="Ej. 0801200012345" type="text" formControlName="dni"></ion-input>
      <br />
    </div>
    <!--FIN ion-label e ion-input para Correo: -->

    <!--ion-label e ion-input para Telefono: -->
    <div [ngClass]="'div'">
      <div [ngClass]="'divIconLabel'">
        <ion-icon name="call-outline" [ngClass]="'ion-icon'"></ion-icon>
        <span class="label-text" style="color: black;">Telefono:</span>
        <ion-note class="form--error-menssage">
          <ion-note *ngIf="isTelefonoInvalid || isTelefonoIMinInvalid" class="form--error-menssage">
            El Telefono es obligatorio y no puede ser menor de 8 digitos.
            *</ion-note>
        </ion-note>
      </div>
      <ion-input [ngClass]="
      {
        'ionInputStyle': !isTelefonoInvalid && !isTelefonoIMinInvalid,
        'ionInputStyle-invalid': isTelefonoInvalid || isTelefonoIMinInvalid
      }" placeholder="Ej. 97868399" type="tel" formControlName="telefono"></ion-input>
      <br />
    </div>
    <!--FIn ion-label e ion-input para Telefono: -->

    <!-- ion-button y ion-spinner para registrar usuario -->
    <div style="display: flex; justify-content: center; margin-top: 20px">
      <ion-button type="submit" color="success" [disabled]="isFormInvalid">
        <!--*ngIf activara la animacion cuando spinner sea true-->
        <ion-spinner *ngIf="spinner" style="margin-right: 10px"></ion-spinner>
        Guardar Cambios
      </ion-button>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 20px">
      <ion-button (click)="logOut()">Cerrar Sesion</ion-button>
    </div>
  </form>
</ion-content>