.ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  --background: #ffffff;
  padding: 16px;
}

.h2 {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
}

.ion-icon {
  color: black;
  font-size: 24px;
  padding-right: 5px;
}

.ion-icon-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  font-size: 200px; /* Ajusta el tamaño del icono */
  color: #060606; /* Color del icono, puedes cambiarlo */;
}

.div{
  padding: 5px;
}

.divIconLabel{
  display: flex;
  align-items: center;
}

.image-profile {
  width: 200px;
  margin: 0 auto;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Cambia el color del ícono a negro */
}

input[type="date"] {
  -webkit-appearance: none; /* Elimina el estilo por defecto en Webkit (Chrome, Safari) */
  appearance: none; /* Elimina el estilo por defecto en todos los navegadores compatibles */
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  border: 2px solid black;
  width: 100%;
  color: black;
  font-family: inherit; /* Hereda la fuente del contenedor */
  cursor: pointer;
}