<ion-header [translucent]="true">
  <ion-toolbar style="--background: red">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<!--
Clean Architecture: cada instancia en la carpeta app tendra una estructura de la siguiente forma:
components - models - pages - services 
-->
<ion-content [fullscreen]="true" style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --background: #ffffff;
    padding: 16px;
  ">
  <h2 style="
      display: flex;
      justify-content: center;
      color: red;
      font-weight: bold;
    ">
    Registro
  </h2>

  <!-- Creamos formulario de Registro, el (ngSubmit)="save()" activa la funcion save() -->
  <form style="width: 100%" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div style="
        margin-bottom: 15px;
        --background: white;
        --padding-start: 16px;
        --padding-end: 16px;
      ">
      <!--ion-label e ion-input para Nombres: -->
      <div>
        <ion-icon name="person-outline" style="color: black; font-size: 24px; margin-bottom: -5px;"></ion-icon>
        <span class="label-text" style="color: black;">Nombres:</span>
        <ion-note class="form--error-menssage">
          <span *ngIf="isNombresNull"> Los Nombres son Requeridos. *</span>
        </ion-note>
      </div>
      <ion-input 
      [ngClass]="
      {
      'ionInputStyle': !isNombresNull,
      'ionInputStyle-invalid': isNombresNull
      }" 
      placeholder="Ej. Jose Jose" 
      type="text" 
      formControlName="nombres"></ion-input>
      <!--Utilizamos el formControlName="Nombres" para hacer binding del registerForm y su campo nombres['']-->
      <br />

      <!--ion-label e ion-input para Apellidos: -->
      <div>
        <ion-icon name="person-outline" style="color: black; font-size: 24px; margin-bottom: -5px;"></ion-icon>
        <span class="label-text" style="color: black;">Apellidos:</span>
        <ion-note class="form--error-menssage">
          <span *ngIf="isApellidosNull"> Los Apellidos son Requeridos. *</span>
        </ion-note>
      </div>
      <ion-input 
      [ngClass]="
      {
        'ionInputStyle': !isApellidosNull,
        'ionInputStyle-invalid': isApellidosNull
      }"  
      placeholder="Ej. Aguilar Paz" 
      type="text"
      formControlName="apellidos"></ion-input>
      <br />

      <!--ion-label e ion-input para Correo: -->
      <div class="icon-text-container">
        <ion-icon name="at-circle-outline" style="color: black; font-size: 24px; margin-bottom: -5px;"></ion-icon>
        <span class="label-text" style="color: black;">Correo:</span>
        <ion-note class="form--error-menssage">
          <span *ngIf="isEmailRequired"> El correo es Requerido *</span>
          <span *ngIf="isEmailInvalid">
            El correo electronico es invalido. *</span>
        </ion-note>
      </div>
      <ion-input 
      [ngClass]="
      {
        'ionInputStyle': !isEmailRequired && !isEmailInvalid,
        'ionInputStyle-invalid': isEmailRequired || isEmailInvalid
      }" 
      placeholder="Ej. correo@gmail.com"
       type="email"
      formControlName="correo"></ion-input>
      <br />

      <!--ion-label e ion-input para Contraseña: -->
      <div>
        <ion-icon name="lock-open-outline" style="color: black; font-size: 24px; margin-bottom: -5px;"></ion-icon>
        <span class="label-text" style="color: black;">Contraseña:</span>
        <ion-note *ngIf="isPasswordMinLengthInvalid" class="form--error-menssage">
          Debe ingresar una Contraseña de 6 caracteres o mas. *</ion-note>
      </div>
      <ion-input [ngClass]="
      {
        'ionInputStyle': !isPasswordMinLengthInvalid,
        'ionInputStyle-invalid': isPasswordMinLengthInvalid
      }"  
      placeholder="Ej. Password123" 
      type="password"
      formControlName="contraseña">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
      <br />

      <!--ion-label e ion-input para DNI: -->
      <div>
        <ion-icon name="id-card-outline" style="color: black; font-size: 24px; margin-bottom: -5px;"></ion-icon>
        <span class="label-text" style="color: black;">DNI:</span>
        <ion-note class="form--error-menssage">
          <ion-note *ngIf="isDniMinLengthInvalid" class="form--error-menssage">
            El DNI es obligatorio y no puede ser menor de 13 digitos.
            *</ion-note>
          <ion-note *ngIf="isDniMaxLengthInvalid" class="form--error-menssage">
            El DNI no puede ser mayor de 13 digitos. *</ion-note>
          <ion-note *ngIf="isDniHasLettersOrSpaces" class="form--error-menssage">
            El DNI no puede contener letras o espacios. *</ion-note>
        </ion-note>
      </div>
      <ion-input [ngClass]="
      {
        'ionInputStyle': !isDniMinLengthInvalid && !isDniMaxLengthInvalid && !isDniHasLettersOrSpaces,
        'ionInputStyle-invalid': isDniMinLengthInvalid || isDniMaxLengthInvalid || isDniHasLettersOrSpaces
      }"  
      placeholder="Ej. 0801200012345" 
      formControlName="dni"></ion-input>

      <br />

      <!--ion-label e ion-input para Telefono: -->
      <div>
        <ion-icon name="call-outline" style="color: black; font-size: 24px; margin-bottom: -5px;"></ion-icon>
        <span class="label-text" style="color: black;">Telefono:</span>
        <ion-note class="form--error-menssage">
          <ion-note *ngIf="isTelefonoInvalid || isTelefonoIMinInvalid" class="form--error-menssage">
            El Telefono es obligatorio y no puede ser menor de 8 digitos.
            *</ion-note>
        </ion-note>
      </div>
      <ion-input [ngClass]="
      {
        'ionInputStyle': !isTelefonoInvalid && !isTelefonoIMinInvalid,
        'ionInputStyle-invalid': isTelefonoInvalid || isTelefonoIMinInvalid
      }"  
      placeholder="Ej. 97868399" 
      type="tel"
      formControlName="telefono"></ion-input>

      <br />

      <!-- ion-button y ion-spinner para registrar usuario -->
      <div style="display: flex; justify-content: center; margin-top: 20px">
        <ion-button type="submit" color="success" [disabled]="isFormInvalid">
          <!--*ngIf activara la animacion cuando spinner sea true-->
          <ion-spinner *ngIf="spinner" style="margin-right: 10px"></ion-spinner>
          Registrar
        </ion-button>
      </div>
    </div>
  </form>

  <div [ngClass]="'center-container'">
    <span [ngClass]="'span'">¿Ya tienes una cuenta?</span>
    <span [ngClass]="'spanRedirect'" (click)="goToLogin()"> Iniciar Sesión</span>
  </div>
</ion-content>