<ion-header [translucent]="true" >
  <ion-toolbar style="--background: red;">
    <ion-title>auth/pages/register/register.page</ion-title>
  </ion-toolbar>
</ion-header>


<!--
Clean Architecture: cada instancia en la carpeta app tendra una estructura de la siguiente forma:
components - models - pages - services 
-->
<ion-content [fullscreen]="true" style="display: flex; justify-content: center; align-items: center; height: 100%; --background: #ffffff; padding: 16px;">
  <h2 style="display: flex; justify-content: center; color: red; font-weight: bold;">Registro</h2>
  
  <!-- Creamos formulario de Registro -->
  <form style="width: 100%;" [formGroup]="registerForm" (ngSubmit)="save()">
    
    <div style="margin-bottom: 15px; --background: white; --padding-start: 16px; --padding-end: 16px;">
      <!--ion-label e ion-input para Nombres: -->
      <ion-label style="color: black;">Nombres:
        <ion-note class="form--error-menssage">*
          
        </ion-note> 
      </ion-label>
      <ion-input 
      style="
        color: black; 
        border: 1px solid black; 
        border-radius: 10px; 
        width: 100%; 
        --padding-start: 10px;
        --padding-end: 10px;
        margin-top: 10px;"
      placeholder="Ej. Jose Jose" 
      type="text"
      formControlName="nombres"></ion-input>
      <!--Utilizamos el formControlName="Nombres" para hacer binding del registerForm y su campo nombres['']-->
      <br>

      <!--ion-label e ion-input para Apellidos: -->
      <ion-label style="color: black;">Apellidos:
        <ion-note class="form--error-menssage">*</ion-note>
      </ion-label>
      <ion-input 
      style="
        color: black; 
        border: 1px solid black; 
        border-radius: 10px; 
        width: 100%; 
        --padding-start: 10px;
        --padding-end: 10px;
        margin-top: 10px;"
      placeholder="Ej. Aguilar Paz" 
      type="text"
      formControlName="apellidos"></ion-input>
      <br>

      <!--ion-label e ion-input para Correo: -->
      <ion-label style="color: black;">Correo: </ion-label>
      <ion-note class="form--error-menssage"> 
        <span *ngIf="isEmailRequired"> El correo es Requerido *</span>
        <span *ngIf="isEmailInvalid"> El correo electronico es invalido. *</span>
      </ion-note>
      
      <ion-input 
      style="
        color: black; 
        border: 1px solid black; 
        border-radius: 10px; 
        width: 100%; 
        --padding-start: 10px;
        --padding-end: 10px;
        margin-top: 10px;"
      placeholder="Ej. correo@gmail.com" 
      type="email"
      formControlName="email"></ion-input>
      <br>

      <!--ion-label e ion-input para Contraseña: -->
      <ion-label style="color: black;">Contraseña: </ion-label>
      <ion-note *ngIf="isPasswordInvalid" class="form--error-menssage"> Debe ingresar una contraseña. *</ion-note>
      <ion-input 
      style="
        color: black; 
        border: 1px solid black; 
        border-radius: 10px; 
        width: 100%; 
        --padding-start: 10px;
        --padding-end: 10px;
        margin-top: 10px;"
      placeholder="Ej. correo@gmail.com" 
      type="text"
      formControlName="password"></ion-input>
      
      <br>

      <!--ion-label e ion-input para DNI: -->
      <ion-label style="color: black;">DNI: 
        <ion-note class="form--error-menssage">*</ion-note>
      </ion-label>
      <ion-input 
      style="
        color: black; 
        border: 1px solid black; 
        border-radius: 10px; 
        width: 100%; 
        --padding-start: 10px;
        --padding-end: 10px;
        margin-top: 10px;"
      placeholder="Ej. correo@gmail.com" 
      
      formControlName="dni"
      ></ion-input>
      
      <br>

      <!--ion-label e ion-input para Telefono: -->
      <ion-label style="color: black;">Telefono: 
        <ion-note class="form--error-menssage">*</ion-note>
      </ion-label>
      <ion-input 
      style="
        color: black; 
        border: 1px solid black; 
        border-radius: 10px; 
        width: 100%; 
        --padding-start: 10px;
        --padding-end: 10px;
        margin-top: 10px;"
      placeholder="Ej. correo@gmail.com" 
      type="tel"
      formControlName="telefono"></ion-input>
      
      <br>

      <!-- ion-button y ion-spinner para registrar usuario -->
      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <ion-button type="submit" color="success" [disabled]="isFormInvalid">
          <!--*ngIf activara la animacion cuando spinner sea true-->
          <ion-spinner *ngIf="spinner" style="margin-right: 10px;"></ion-spinner> Registrar
        </ion-button>
      </div>

    </div>

  </form>
</ion-content>

