.span{
    font-size: 18px;
    line-height: 26px;
    color: black;
    
}

.spanRedirect{
    font-size: 18px;
    line-height: 26px;
    color: seagreen;
    margin-left: 10px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}